form {
    border: #4CAF50;
    border-radius: 10px;
    border-style: groove;
    background: #eeeeee;
    width: min-content;
}
textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-image: url(bg.gif);
    background-position: bottom right;
    background-repeat: no-repeat;

}
label {
    font-family: Arial;
    font-size: 15px;

}
.center {
    margin: auto;
    width: auto;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}